
body {
    background-color: #7cb1f7; 
    font-family: Arial, Helvetica, sans-serif, sans-serif;
    color: #062e46; 
}


h1 {
    background-color: #063b44; 
    color: #ffffff;           
    text-align: center;       
    padding: 20px;            
}


p {
    text-align: center;      
    color: #054955;           
}


ul {
    background-color: #446fe7; 
    padding: 20px;
    width: 300px;            
    margin: 0 auto;          
}